.empty {
    margin-bottom: 51px;
    width: 100%;
}
.empty_img {
    width: 100%;
}
.empty_img2 {
    display: none;
}
.empty_img3 {
    display: none;
}
@media(max-width: 800px) {
    .empty_img {
        display: none;
    }
    .empty_img2 {
        display: flex;
        width: 100%;
    }

}
@media(max-width: 430px) {
    .empty_img {
        display: none;
    }
    .empty_img2 {
        display: none;
    }
    .empty_img3 {
        display: flex;
        width: 100%;
    }
}