.map_main {
  background: #2a8086;
  padding: 32px 0 23px 0;
}
.map h2 {
  font-weight: 400;
  font-size: 24px;
  text-transform: uppercase;
  color: #c5e1e5;
}
.map__img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.eagle {
  position: absolute;
  top: 268px;
  left: 135px;
}
.alligator {
  position: absolute;
  top: 335px;
  left: 275px;
}
.gorilla {
  position: absolute;
  left: 565px;
  top: 430px;
}
.panda {
  position: absolute;
  top: 333px;
  right: 285px;
}
.plus_minus {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
}
.map_title {
  padding-left: 30px;
  margin-bottom: 60px;
}
@media (max-width: 1295px) {
  .eagle {
    position: absolute;
    top: 268px;
    left: 95px;
  }
  .alligator {
    position: absolute;
    top: 335px;
    left: 235px;
  }
  .gorilla {
    position: absolute;
    left: 520px;
    top: 430px;
  }
  .panda {
    position: absolute;
    top: 333px;
    right: 235px;
  }
}
@media (max-width: 1195px) {
  .map_img {
    width: 960px;
  }
  .eagle {
    position: absolute;
    top: 237px;
    left: 95px;
    width: 90px;
    height: 90px;
  }
  .alligator {
    position: absolute;
    top: 300px;
    left: 209px;
    width: 90px;
    height: 90px;
  }
  .gorilla {
    position: absolute;
    left: 480px;
    top: 387px;
    width: 90px;
    height: 90px;
  }
  .panda {
    position: absolute;
    top: 300px;
    right: 240px;
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 1095px) {
  .eagle {
    position: absolute;
    top: 250px;
    left: 50px;
    width: 90px;
    height: 90px;
  }
  .alligator {
    position: absolute;
    top: 313px;
    left: 167px;
    width: 90px;
    height: 90px;
  }
  .gorilla {
    position: absolute;
    left: 430px;
    top: 378px;
    width: 90px;
    height: 90px;
  }
  .panda {
    position: absolute;
    top: 300px;
    right: 180px;
    width: 90px;
    height: 90px;
  }
  .map_title {
    padding-left: 5px;
    margin-bottom: 66px;
  }
}
@media (max-width: 995px) {
  .map_img {
    width: 609px;
    height: 397px;
  }
  .eagle {
    position: absolute;
    top: 195px;
    left: 75px;
    width: 80px;
    height: 80px;
  }
  .alligator {
    position: absolute;
    top: 243px;
    left: 190px;
    width: 80px;
    height: 80px;
  }
  .gorilla {
    position: absolute;
    left: 390px;
    top: 290px;
    width: 80px;
    height: 80px;
  }
  .panda {
    position: absolute;
    top: 230px;
    right: 190px;
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 895px) {
  .map h2 {
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: #c5e1e5;
  }
  .map_img {
    width: 691px;
  }
  .eagle {
    position: absolute;
    top: 155px;
    left: 40px;
    width: 80px;
    height: 80px;
  }
  .alligator {
    position: absolute;
    top: 185px;
    left: 132px;
    width: 80px;
    height: 80px;
  }
  .gorilla {
    position: absolute;
    left: 320px;
    top: 230px;
    width: 80px;
    height: 80px;
  }
  .panda {
    position: absolute;
    top: 185px;
    right: 140px;
    width: 80px;
    height: 80px;
  }
}
@media (max-width: 750px) {
  .plus_minus {
    display: none;
  }
  .map_main {
    background: #2a8086;
    padding: 65px 0 0 10px;
  }
  .map_img {
    width: 622px;
    height: 386px;
    margin-left: 100px;
  }
  .map_title {
    display: none;
  }
  .map__img {
    padding-bottom: 39px;
    overflow-x: scroll;
  }
  .eagle {
    position: absolute;
    top: 150px;
    left: 60px;
    width: 71px;
    height: 71px;
  }
  .alligator {
    position: absolute;
    top: 188px;
    left: 135px;
    width: 71px;
    height: 71px;
  }
  .panda {
    position: absolute;
    top: 180px;
    right: 55px;
    width: 71px;
    height: 71px;
  }
}
@media (max-width: 630px) {
  .map_img {
    width: 609px;
    height: 386px;
    margin-left: 170px;
  }
  .panda {
    position: absolute;
    top: 180px;
    right: -40px;
    width: 71px;
    height: 71px;
  }
  .gorilla {
    position: absolute;
    left: 290px;
    top: 230px;
    width: 71px;
    height: 71px;
  }
}
@media (max-width: 510px) {
  .map_img {
    width: 609px;
    height: 386px;
    margin-left: 280px;
  }
  .eagle {
    position: absolute;
    top: 150px;
    left: 50px;
    width: 71px;
    height: 71px;
  }
  .panda {
    position: absolute;
    top: 180px;
    right: -150px;
    width: 71px;
    height: 71px;
  }
}
@media (max-width: 410px) {
  .map_img {
    width: 609px;
    height: 386px;
    margin-left: 290px;
  }
  .eagle {
    position: absolute;
    top: 150px;
    left: 30px;
    width: 71px;
    height: 71px;
  }
  .alligator {
    position: absolute;
    top: 185px;
    left: 110px;
    width: 71px;
    height: 71px;
  }
  .gorilla {
    position: absolute;
    left: 270px;
    top: 230px;
    width: 71px;
    height: 71px;
  }
  .panda {
    position: absolute;
    top: 180px;
    right: -178px;
    width: 71px;
    height: 71px;
  }
}
