* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Rubik", sans-serif;
}
.container {
    max-width: 1260px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}